@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&family=Playball&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&family=Playball&family=Shadows+Into+Light&display=swap');


/* this is a CSS COMMENT */
/* select by element TYPE */

body{
    font-family: "Playball", cursive;
    
    background-color: lavenderblush;

P {
color: purple;
}

h1,h2,h3 {
    font-family: "Playball", cursive;
}


/* select by CLASS name*/
.border {
border: 2px solid black;
background-color: lavender;
}

/*select by id name*/
#intro {
    background-color: rgb(179, 179, 237);
}



/* Properties: color and typoragrphy */
strong { 
    color:rgb(37, 10, 147);
    background-color: rgb(180, 112, 244);

    font-family: impact;
    font-weight: 900;
    font-style: italic;
}

h1 {
    text-align: center;
}
